body {
    background-color: #f3f6f8;
}

.thumb-lg {
    height: 88px;
    width: 88px;
}

.profile-user-box {
    position: relative;
    border-radius: 5px
}

.bg-custom {
    background-color: #08B9C1 !important;
}

.profile-user-box {
    position: relative;
    border-radius: 5px;
}

.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}

    .card-box .badge {
        margin-right: 10px;
    }

.text-custom {
    color: #08B9C1 !important;
}

.badge-custom {
    background: #08B9C1;
    color: #fff;
}

.badge {
    font-family: Rubik,sans-serif;
    -webkit-box-shadow: 0 0 24px 0 rgba(0,0,0,.06), 0 1px 0 0 rgba(0,0,0,.02);
    box-shadow: 0 0 24px 0 rgba(0,0,0,.06), 0 1px 0 0 rgba(0,0,0,.02);
    padding: .35em .5em;
    font-weight: 500;
}

.text-muted {
    color: #98a6ad !important;
}

.font-13 {
    font-size: 13px !important;
}
